syntax: glob
*~
*.[ao]

Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cscope.out
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
libimagequant
libimagequant-prefix

# Autotools related files.
*.l[ao]
.deps
.libs
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.cache
/config.log
/config.status
/configure
/libtool
/config/ar-lib
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/config.h
/src/config.hin
/src/stamp-h1

# Common GD artifacts.
/config/gdlib-config
/config/gdlib.pc
/src/annotate
/src/circletexttest
/src/fontconfigtest
/src/fontsizetest
/src/fontwheeltest
/src/gd2copypal
/src/gd2time
/src/gd2togif
/src/gd2topng
/src/gd_color_map_test
/src/gdcmpgif
/src/gddemo
/src/gdparttopng
/src/gdtest
/src/gdtestft
/src/gdtopng
/src/gifanimtest
/src/giftogd2
/src/pngtogd
/src/pngtogd2
/src/testac
/src/testtr
/src/webpng
