syntax: glob
*~
Makefile
config.h
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cscope.out
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
libimagequant
libimagequant-prefix
Makefile.in
aclocal.m4
config/Makefile.in
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Makefile.in
